body, html{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

body{
	padding:20px;
}

.content {
	width: 800px;
	margin: 0 auto;
}

.dartboard {
	width: 200px;
	float: left;
}

.dartboard .region {
	float:left;
	width:60px;
	height:15px;
	color:white;
	text-align: center;
	border-bottom:solid 1px white;
	font-size:.7em;
	cursor:pointer;
}

.dartboard .single {
	background: black;
}

.dartboard .double {
	background: red;
}

.dartboard .triple {
	background: green;
}

.newgame {
	
}

.newgame td {
	vertical-align: top;
}

.newgame textarea {
	width:200px;
	height: 400px;
}

.CodeMirror {
	border: solid 1px #BBB;
}

.error {
	color:red;
}

.error .message {
	font-weight: bold;
}

.left {
	float: left;
}

.right {
	float: left;
}

.column {
	width:65px;
	float:left;
	border-bottom: solid 1px black;
}
.header {
	font-weight: bold;
}

.clear {
	clear:both;
}